{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ category.name }}
{% endblock title %}

{% block content %}
    <div>
        {% if category %}
            <div class="row">
                <div class="col-sm-2">
                    <h1>{{ category.name }}</h1>
                </div>
            </div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
                </ol>
            </nav>

            {% if user.is_authenticated %}
                <form action="{% url 'search' category.slug%}" method="post" class="form-inline margin-top-sm" id="user_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <input type="text" name="query" id="query" class="form-control" size="50" value="" placeholder="Search for other pages">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary" name="submit" value="Search">
                                Search
                            </button>    
                        </div>
                    </div>
                </form>
            {% endif %}
            
            {% if pages %}
                <ol class="margin-top-sm">
                    {% for page in pages %}
                        <li>
                            <a href="{% url 'goto' %}?page_id={{page.id}}">
                                {{ page.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <strong>
                    The specified category does not exist
                </strong>
            {% endif %}
        {% else %}
                <strong>
                    The specified category does not exist
                </strong>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
        <div>
            <p>
                Can't find page?
                <a href="{% url 'add_page' category.slug %}">Add</a>
            </p>
        </div>

        <div class="margin-top-sm margin-bottom-sm">
            {% if results %}
                <h3>Results</h3>
                <div class="list-group">
                    {% for result in results %}
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">
                                <a href="{{ result.link }}">{{ result.title }}</a>
                            </h4>
                            <p class="list-group-item-text">
                                {{ result.summary }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h4>Search results will appear here</h4>
            {% endif %}
        </div>
    {% else %}
        <div class="row">
            <p class="text-muted">
                Want more functionality?
                <a href="{% url 'index' %}">Login</a>
            </p>
        </div>
    {% endif %}

{% endblock %}